header{
    height: 5rem;
}




.parent{
    border: 1px solid black;
    width: 40rem;
    height: 40rem;
    margin-left:25vw;
}

.sec_input{
    border: 1px solid aqua;
    height:10.55em;
    


}

.section_msg{
    border: 1px solid red;
    height:25em;
    overflow: scroll;
}

#title{
    text-align: center;
    
}

.form{
    background-color: gray;
    border: 1px solid green;
    width: 20em;
    margin-left: 10rem;
    height: 10.55em;
}

input{
    width: 15em;
    height: 11em;
    margin: 5px;
    
}

.box{
    border: 1px solid black;
    height: auto;
    width: auto;
}